<%= form_for(@caso) do |f| %>
  <% if @caso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caso.errors.count, "error") %> prohibited this caso from being saved:</h2>

      <ul>
      <% @caso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :casename %><br>
    <%= f.text_field :casename %>
  </div>
  <div class="field">
    <%= f.label :victname %><br>
    <%= f.text_field :victname %>
  </div>
  <div class="field">
    <%= f.label :date_occu %><br>
    <%= f.date_select :date_occu %>
  </div>
  <div class="field">
    <%= f.label :place_occu %><br>
    <%= f.text_field :place_occu %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
