<h1>Listado de Casos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casos.each do |caso| %>
      <tr>
        <td> <%= caso.casename %> </td>
        <td> <%= caso.victname %> </td>
        <td> <%= caso.date_occu %></td>
        <td> <%= caso.place_occu %> </td>
        <td> <%= caso.desc %></td>
        <td> <%= caso.status %></td>
        <td width="100"></td>
        <td><%= link_to 'Show', caso %></td>
        <td width="20"></td>
        <td><%= link_to 'Edit', edit_caso_path(caso) %></td>
        <td width="20"></td>
        <td><%= link_to 'Destroy', caso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caso', new_caso_path %></br>
<a href="/">Back</a></br>